
div.vak{
  border:3px solid white;
  background-color:#1D1515;
  height: 100px;
  width: 100px;
  cursor: crosshair;
}
div.center{
  text-align: center;
}
div.vierkant{
margin-left: 30%;
}
div.button{
margin-left: 80%;
}
div.geen{
  margin-left: 80%;
  border: 5px solid white;
  width: 220px;
  height: 50px;
  line-height: 1px;
}
html
.column {
  float: left;
  width: 9.03%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
input[type=submit]{
    color: white;
    background-color: #1D1515;
    border: none;
    font-size: 300%;
}
body{
  color: white;
  background-color: #1D1515;
}

h1.hoofd{
  font-size: 400%;
}
